---
- name: Load br_netfilter kernel module
  community.general.modprobe:
    name: br_netfilter
    state: present

- name: Ensure kernel modules load on boot
  ansible.builtin.template:
    src: k8s-modules.conf.j2
    dest: /etc/modules-load.d/k8s.conf
    mode: "0644"

- name: Configure sysctl for Kubernetes
  ansible.builtin.template:
    src: k8s-sysctl.conf.j2
    dest: /etc/sysctl.d/k8s.conf
    mode: "0644"
  notify: Apply sysctl settings

- name: Disable swap
  ansible.builtin.command: swapoff -a
  changed_when: false

- name: Remove swap from fstab
  ansible.builtin.lineinfile:
    path: /etc/fstab
    regexp: '\sswap\s'
    state: absent

- name: Open port 6443 for Kubernetes API server
  community.general.ufw:
    rule: allow
    port: "6443"
    proto: tcp
  when: ansible_facts['os_family'] == 'Debian'
  ignore_errors: true
